
/*/////////////////////////////////////////////////////////////////////////////*/
	/*CSS FOR FLEET PAGE*/
/*/////////////////////////////////////////////////////////////////////////////*/


.fleet th {
	font-family: 'oxygenregular';
	text-align: center;
	text-transform: uppercase;
}

.fleet img{
	width: 465px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.fleetWrapper {
	/*border: 1px solid black;*/
	width: 470px;
	height: auto;
	float: left;
	padding: ;
	margin: 2px;
	z-index: 0;
	display: block;
}

.fleet {
	/*border: 1px solid black;*/
	width: 950px;
	height: auto;
	margin: 15px auto;
	overflow: auto;
	
}

.fleetTitle {
	/*border: 1px solid black;*/
	border-bottom: 2px solid rgb(16,91,99);
	padding: 0;
	line-height: 0;
	text-align: center;
	font-family: 'oxygenregular';
	z-index: 1;
	width: 465px;
	margin: 0 auto;
	font-size: 1.1em;
	font-weight: 300;
}