/*/////////////////////////////////////////////////////////////////////////////*/
	/*CSS FOR MAIN CONTAINER2*/
/*/////////////////////////////////////////////////////////////////////////////*/

.main-container2 {
	border-top: 3px solid rgb(16,91,99);
	border-bottom: 3px solid rgb(16,91,99);
	border-radius: 2px;
	width: 560px;
	height: auto;
	background-color: rgba(255,211,78,0.5);
	margin: 5px auto;
	padding: 0;

}

.slideShow {
		width: 500px;
		height: auto;
		border: none;
		padding: 1px;
		margin-top: 10px;
}

#statement {
	border-bottom: 2px solid #fff;
	width: 955px;
	margin: 10px auto;
	border-radius: 2px;
	background-color:  rgba(255,211,78,0.5);
}

#statement p {
	border: none;
	font-weight: 0;
	text-align: center;
	font-size: 1.3em;
	font-family: 'oxygenregular';
	margin: 0 auto;
}