/*/////////////////////////////////////////////////////////////////////////////*/
	/*CSS FOR NAVBAR*/
/*/////////////////////////////////////////////////////////////////////////////*/
.navbar {
	/*border: 1px solid red;*/
	height: 42px;
	width: auto;
	background-color: rgba(255,211,78,0.5);
}

.navbar ul {
	/*border: 1px solid black;*/
	margin: auto;
	padding: 0;
	line-height: 1;
	list-style-type: none;
	width: 625px;
	color: black;
	
	display: block;
}

.navbar ul:after {
	/*content: ' ';*/
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

.navbar ul li {
	/*border: 1px solid black;*/
	float: left;
	display: block;
	padding: 0;
}

.navbar ul li a {
	text-decoration: none;
	display: block;
	padding: 5px 20px;
	font-weight: 700;
	font-family: 'oxygenregular';
	text-transform: uppercase;
	font-size: 1.8em;
	position: relative;
	-webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.navbar ul li a:hover {
  color: rgb(189,73,50);
}
.navbar ul li a:hover:before {
  width: 100%;
}

.navbar ul li a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: rgb(189,73,50);
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s
}
.navbar ul li.last > a:after,
.navbar ul li:last-child > a:after {
  display: none;
}
.navbar ul li.active a {
  color:rgb(189,73,50);
}
.navbar ul li.active a:before {
  width: 100%;
}